/* CSS reset minimo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #111;
  background: #fff;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Notifica nascosta di default */
#notifica {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #111;
    color: white;
    border-radius: 8px;
  display: none;
}

/* Scrivi qui sotto i tuoi stili */

header {
    background-color: rgb(0, 0, 10);
    color: #ebebeb;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div h1 {font-size: 42px;
    margin-bottom: 10px;
}

#dark {
    width: fit-content;
    font-size: 14px;
    border: 1px solid #ebebeb;
    color: #ebebeb;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

body.darkMode {
    background-color: rgb(6, 1, 24);
    color: #ebebeb;
}


body.darkMode .form,
body.darkMode .controlli,
body.darkMode .statistiche,
body.darkMode .lista {
    background-color: rgb(10, 2, 40);
    border: 0.5px solid #ebebeb;
}

.container {
    width: 75%;
    margin: 40px auto;
}

.form,
.controlli,
.statistiche,
.lista {
    background-color: #e1e0e0;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.form h2 {
    margin-bottom: 20px;
}

.form input, .form select {
    display: inline-block;
    padding: 12px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#titolo {
    width: 30%;
}

#autore {
    width: 30%;
}

#anno {
    width: 12%;
}

#stato {
    width: 23%;
} 

#addButton {
  display: block;
  background: rgb(255, 187, 0);
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: white;
    border-left: 6px solid gold;
}

.card.acquistato {
    border-left-color: green;
}

.info h3 {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.badge {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.badge.green {
    background-color: lightgreen;
}

.badge.gold {
    background-color: #ffe9a9;
}

.actions button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.statistiche {
    display: flex;
    gap: 40px;
    align-items: center;
}

.barra {
    width: 400px;
    height: 18px;
    background-color: #ddd;
    border-radius: 25px;
}

.riempimento {
    height: 100%;
    background-color: goldenrod;
}